.hotelcard {
    border: 1px solid rgb(236, 143, 143);
    border-radius: 14px;
    height: 40%;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
}